<% content_for 'head' do %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.event.drag' %>
	<%= javascript_include_tag 'jquery.timers.js' %>
	<%= javascript_include_tag 'jquery.event.drop' %>
	<%= javascript_include_tag 'jquery.filetree' %>
	<%= stylesheet_link_tag 'jqueryFileTree' %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <script type="text/javascript">
		$(document).ready( function() {
			tree = $('<div />');
			tree.fileTree({ 
				root: '', 
				script: '<%= content_host_schedule_file_index_path(@host_id, @schedule_id, @file_index.id) + "?authenticity_token=" %>' + encodeURIComponent(AUTH_TOKEN),
				spinnerImage: '/images/jqueryFileTreeImages/spinner.png',
				fakeTopRoot: true,
				multiFolder: false,
				dragAndDrop: true,
				fakeTopRootText: '/',
				moveCallback: function(from,to,dir) {
					$('#log').append($('<div />').text("move "+(dir?"directory":"file")+" from " + from + " to " + to));

				},
				fileCallback: function(file) {
					$('#log').append($('<div />').text("chosed " + file));
				},
				dirExpandCallback: function(dir) {
					$('#log').append($('<div />').text("expanded " + dir));
				},
				dirCollapseCallback: function(dir) {
					$('#log').append($('<div />').text("collapsed" + dir));
					return true;
				}
				
			});
			$('#d').append( tree );
		});
	</script>
<% end %>

<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
			<li><%= link_to 'All Snapshots', host_schedule_file_indices_path(@host_id, @schedule_id) %></li>
			<li><%= link_to 'View Host', host_path(@host_id) %></li>
	</ul>
<% end %>

<h2>Snapshot: <%= @file_index.snapname.gsub!(/_/," ") if @file_index.snapname %></h2>
<div id="d" class="demo"></div>
<div id="log"></div>
