<% content_for 'head' do %>
	<%= stylesheet_link_tag 'filetree' %>
<% end %>

<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
			<li><%= link_to 'View Host', host_path(@host_id) %></li>
	</ul>
<% end %>

<h2>Snapshot: <%= @file_index.snapname.gsub!(/_/," ") if @file_index.snapname %></h2>

<div class="snap_select">
	<% form_for :file_index, @file_index, :url => get_file_index_host_restore_schedule_file_indices_path(@host_id, @restore.id, @schedule_id) do |f| %>
		<%= f.label "Select Backup To Browse"%>
		<%= f.collection_select(:id, @file_indices, :id, :snapname) %>
		<%= f.submit('Go') %>
	<% end %>
</div>

<div class="filetree">
	<div class='current_dir'><%= @current_dir %></div>
	<ul class="filetree">
		<% if @current_dir != "/" %>
			<li class="directory collapsed">	
				<%= link_to 'Parent Directory', 
					host_restore_schedule_file_index_path(@host_id, 
						@restore.id, 
						@schedule_id, 
						@file_index.id, 
						:dir => File.dirname(@current_dir)
					) 
				%>
			</li>
		<% end %>
	  <% @dirs_files[0].each do |dir| %>
			<li class="directory collapsed">
				<%= link_to image_tag('add.png'),
					add_host_restore_schedule_file_index_path(
							@host_id, 
							@restore.id, 
							@schedule_id, 
							@file_index.id,
							:dir => @current_dir,
							:item => dir
						), :method => :post
				%>
				<%= link_to dir, host_restore_schedule_file_index_path(
					@host_id, 
					@restore.id, 
					@schedule_id, 
					@file_index.id, 
					:dir => "#{@current_dir}/#{dir}" 
				) %>
			</li>
	  <% end %>
		<% @dirs_files[1].each do |file| %>
	    <li class="file ext_<%=File.extname(file)[1..-1]%>">
				<%= link_to image_tag('add.png'),
				 		add_host_restore_schedule_file_index_path(
							@host_id, 
							@restore.id, 
							@schedule_id, 
							@file_index.id,
							:dir => @current_dir,
							:item => file
						), :method => :post
				%>
				<%= file %>
			</li>
	  <% end %>
	</ul>
</div>

<div class="restore_set">
	<% if @restore.data %>
		<table id="stdtable" class="sortable" cellspacing="0">
			<th scope="col" id="tblheader">Snapshot</th>
			<th scope="col" id="tblheader">Item</th>
			<th scope="col" id="tblheader"></th>
			<% @restore.data.each do |item| %>
				<tr>
					<td><%= item.keys.first.gsub(/_/," ") %></td>
					<td><%= item.values.first %></td>
					<td>
						<%= link_to image_tag('cancel_16.png'),
							remove_host_restore_schedule_file_index_path(
								@host_id, 
								@restore.id, 
								@schedule_id, 
								@file_index.id,
								:dir => @current_dir,
								:item => item.values.first,
								:snapname => item.keys.first
							), 
							:confirm => "Are you sure?", 
							:method => :delete
						%>
					</td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>
<div class="clear"></div>

	<% form_for :file_index, @file_index, 
		:url => 
			finish_host_restore_schedule_file_index(
				@host_id, 
				@restore.id, 
				@schedule_id, 
				@file_index.id,
				:dir => @current_dir,
			), 
		:method => :post do |f| %>
			
		<%= f.submit "Finish", :confirm => "Are you sure you're done?" %>
	<% end %>