<% content_for 'head' do %>
	<%= stylesheet_link_tag 'filetree' %>
<% end %>

<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
			<li><%= link_to 'All Snapshots', host_schedule_file_indices_path(@host_id, @schedule_id) %></li>
			<li><%= link_to 'View Host', host_path(@host_id) %></li>
	</ul>
<% end %>

<h2>Snapshot: <%= @file_index.snapname.gsub!(/_/," ") if @file_index.snapname %></h2>
<div class="filetree">
	<div class='current_dir'><%= @current_dir %></div>
	<ul class="filetree">
		<% if File.dirname(@current_dir) != "." %>
			<li class="directory collapsed">	
				<%= link_to 'Parent Directory', host_schedule_file_index_path(@host_id, @schedule_id, @file_index.id, :dir => File.dirname(@current_dir)) %>
			</li>
		<% end %>
	  <% @dirs_files[0].each do |dir| %>
			<li class="directory collapsed">
					<%= link_to dir, host_schedule_file_index_path(@host_id, @schedule_id, @file_index.id, :dir => "#{@current_dir}/#{dir}" ) %>
					<%= link_to image_tag('add.png'), "#" %>
			</li>
	  <% end %>
		<% @dirs_files[1].each do |file| %>
	    <li class="file ext_<%=File.extname(file)[1..-1]%>">
				<%= file %>
				<%= link_to image_tag('add.png'), "#" %>
			</li>
	  <% end %>
	</ul>
</div>
