<% content_for 'head' do %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.easing' %>
	<%= javascript_include_tag 'jqueryFileTree' %>
	<%= stylesheet_link_tag 'jqueryFileTree' %>
<% end %>

<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
			<li></li>
	</ul>
<% end %>

<ul class="jqueryFileTree" style="display: none;">
    <% @dirs_files[0].each do |dir| %>
	<li class="directory collapsed">
		<a href="#" rel="<%= @current_dir+dir %>/"><%= dir %></a></li>
    <%end%>
	<% @dirs_files[1].each do |file|%>
    <li class="file ext_<%=File.extname(file)[1..-1]%>"><a href="#" rel="<%= @current_dir+file %>"><%= file %></a></li>
    <% end %>
</ul>
