<% content_for 'head' do %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.easing' %>
	<%= javascript_include_tag 'jqueryFileTree' %>
	<%= stylesheet_link_tag 'jqueryFileTree' %>
	<style type="text/css">
      .demo{
					background-color:#EEEEEE;
          font-family:Verdana,Arial,Helvetica,sans-serif;
          font-size:11px;
          background-color:#FFFFFF;
          border-color:#BBBBBB #FFFFFF #FFFFFF #BBBBBB;
          border-style:solid;
          border-width:1px;
          height:400px;
          overflow:scroll;
          padding:5px;
          width:200px;
      }
  </style>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <script type="text/javascript">
		$(document).ready( function() {
			$('#fileTree').fileTree({ root: '', script: '<%= content_host_schedule_file_index_path(@host_id, @schedule_id, @file_index_id) + "?authenticity_token=" %>' + encodeURIComponent(AUTH_TOKEN) }, function(file) {
				alert(file);
			});
		});
	</script>
<% end %>

<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
			<li><%= link_to 'All Snapshots', host_schedule_file_indices(@host_id, @schedule_id) %></li>
			<li><%= link_to 'Host', host_path(@host_id) %></li>
	</ul>
<% end %>

<h2>Snapshot: <%= @file_index.snapname %></h2>
<div id="fileTree" class="demo"></div>