<% rowclass = cycle('','alt', :name => "row_class") %>
<tr>
	<td scope="row" class='<%= cycle('spec','specalt') %>'><%= job.id %></td>
	<td class='<%= rowclass %>'><%= job.type %></td>
	<td class='<%= rowclass %>'><%= job.status %></td>
	<td class='<%= rowclass %>'><%= job.host.name if job.host %></td>
	<td class='<%= rowclass %>'><%= job.backup_node.name if job.backup_node %></td>
	<td class='<%= rowclass %>'><%= job.scheduler_node.name if job.scheduler_node %></td>
</tr>
