<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
			<li><%= link_to 'All Jobs', jobs_path %></li>
	</ul>
<% end %>

<h2>Job ID: <%= @job.id %> </h2>
<table class='table_form'>
	<tr>
		<td class='labelform'>Schedule</td>
  	<td><%= @job.schedule.name if @job.schedule %></td>
	</tr>
	<tr>
		<td class='labelform'>Host</td>
  	<td><%= @job.host.name if @job.host %></td>
	</tr>
	<tr>
		<td class='labelform'>Status</td>
  	<td><%= @job.status %></td>
	</tr>
	<tr>
		<td class='labelform'>Operation</td>
  	<td><%= @job.operation %></td>
	</tr>
	<tr>
		<td class='labelform'>Started At</td>
  	<td><%= @job.start_at %></td>
	</tr>
	<tr>
		<td class='labelform'>Finished At</td>
  	<td><%= @job.finished_at %></td>
	</tr>
	
	<% if @error_message %>
	<tr>
		<td class='labelform'>Error Messages</td>
  	<td><%= @error_message %></td>
	</tr>
	<% end %>
	<% if @error_exit_code %>
	<tr>
		<td class='labelform'>Error Exit Code</td>
  	<td><%= @error_exit_code %></td>
	</tr>
	<% end %>
</table>