<% rowclass = cycle('','alt', :name => "row_class") %>
<tr>
	<td scope="row" class='<%= cycle('spec','specalt') %>'><%= host.name %></td>
	<td class='<%= rowclass %>'><%= host.hostname %></td>
	<td class='<%= rowclass %>'><%= host.ip_addr %></td>
	<td class='<%= rowclass %>'><%= host.status %></td>
	<td class='<%= rowclass %>'><%= link_to 'Edit', edit_host_path(host) %></td>
	<td class='<%= rowclass %>'><%= host.status == 'disabled' ? link_to('Enable', enable_host_path(host)) : link_to('Disable', disable_host_path(host)) %></td>
</tr>
