<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
		<li><%= link_to 'All Hosts', hosts_path %></li>
		<li><%= link_to 'View Config Items', config_items_path %></li>
		<li><%= link_to 'Delete Host', host_path(@host), :method => :delete, :confirm => 'Are you sure want to delete this host?' %></li>
		<li><%= link_to 'Show Backup Schedules', host_schedules_path(@host) %>
	</ul>
<% end %>

<h2>Edit Host</h2>

<% form_for @host, :url => host_path do |f| %>
  <%= f.error_messages %>
	<table class='table_form'>
	  <%= render :partial => "form", :object => f %>
		<%= render :partial => "host_config", :collection => @host_configs %>
		<tr>
			<td class="formlabel"><%= f.label "Host Type" %></td>
			<td><%= select(:host_config, @host_type.id, @host_type_children.collect {|cp| [cp.name, cp.id]}, { :selected => @host_type.value.to_i },
				  {
						:onchange => remote_function(
							:method => "get",
							:with => "'id='+value",
							:url => get_sub_form_host_form_hosts_path
						)
					}
			) if @host_type_children && @host_type %>
			</td>
		</tr>
		<tr>
			<td class="formlabel"><%= f.label "Options" %></td>
			<td>
				<%= collection_select(:host_config, 'no_submit', @config_groups, :id, :name, {:prompt => true},
				  	{
							:onchange => remote_function(
								:method => "get",
								:with => "'id='+value",
								:url => get_sub_form_hosts_path
							)
						}
				) if @config_groups %>
			</td>
		</tr>
		<tr id='sub_form'></tr>
		<%= yield :sub_form %>
		
	</table>
  <%= f.submit "Update" %>
<% end %>