<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
		<% if request.path =~ /\/account.*/ %>
			<li><%= link_to 'Edit Account', edit_account_path %></li>
		<% else %>
			<li><%= link_to 'All Users', users_path %></li>
			<li><%= link_to 'New User', new_user_path %></li>
			<li><%= link_to 'Edit Account', edit_user_path(@user) %></li>
		<% end %>
	</ul>
<% end %>

<table class='table_form'>
	<tr>
		<th class='labelform'>Login</th>
  	<th><%=h @user.login %></th>
	</tr>
	<tr>
		<td class='labelform'>Login Count</td>
  	<td><%=h @user.login_count %></td>
	</tr>
	<tr>
		<td class='labelform'>Last Request At</td>
  	<td><%=h @user.last_request_at.strftime("%m/%d/%Y %I:%M%p") %></td>
	</tr>
	<tr>
		<td class='labelform'>Last Login At</td>
  	<td><%=h @user.last_login_at.strftime("%m/%d/%Y %I:%M%p") %></td>
	</tr>
	<tr>
		<td class='labelform'>Current Login At</td>
  	<td><%=h @user.current_login_at.strftime("%m/%d/%Y %I:%M%p") %></td>
	</tr>
	<tr>
		<td class='labelform'>Last Login IP</td>
  	<td><%=h @user.last_login_ip %></td>
	</tr>
	<tr>
		<td class='labelform'>Current Login IP</td>
  	<td><%=h @user.current_login_ip %></td>
	</tr>
</table>