<div id='start_date'>
	<% if @schedule.start_date %>
		<%= form.calendar_date_select :start_date, :embedded => true, :month_year => "label"  %>
	<% else %>
		<%= form.calendar_date_select :start_date, :embedded => true, :month_year => "label", :value => Date.today %>
	<% end %>
</div>
<div class='right'>
	<div class='labels'>
		<div class='name'>name</div>
		<div class='start_label'>start</div>
		<div class='repeat_label'>repeat</div>
		<div class='every_label'>every</div>
		<div class='media_label'>media</div>
	</div>
	<div class='fields'>
		<div id='name'>
			<%= form.text_field :name %>
		</div>
		<div id='start_time'>
			<%= select_time(@time, :prefix => :schedule, :time_separator => ':') %>
			<span class='timezone'><%= @time.zone %></span>
		</div>
		<div id='repeat'>
			<%= select(:schedule, :repeat, repeat_collection, {}, {
				:onchange => remote_function(
					:method => "get",
					:with => "'type='+value",
					:url => get_on_form_host_schedules_path(@host)
				)
			}) %>
		</div>
		<div id='every'>
			<%= form.text_field :every, :size => 2, :maxlength => 2 %>
			
			<span id='on'>
				<%= render :partial => 'get_on_form' %>
			</span>
		</div>
		<div id='media'>
			<%= form.collection_select(:backup_node_id, @backup_nodes, :id, :name, {:prompt => true}) %>
		</div>
	</div>
</div>
