<% rowclass = cycle('','alt', :name => "row_class") %>
<tr>
	<td scope="row" class='<%= cycle('spec','specalt') %>'><%= item.name %></td>
	<td class='<%= rowclass %>'><%= item.description %></td>
	<td class='<%= rowclass %>'><%= item.parent_name %></td>
	<td class='<%= rowclass %>'><%= item.configurable %></td>
	<td class='<%= rowclass %>'><%= item.display_type %></td>
	<td class='<%= rowclass %>'><%= link_to image_tag('edit.png'), edit_config_item_path(item) %></td>
	<td class='<%= rowclass %>'><%= link_to image_tag('delete.png'), config_item_path(item), :method => :delete %></td>
</tr>