<% form_for @user_session, :url => user_session_path do |f| %>
	<%= f.error_messages %>
	<table class='table_form'>
	  <tr>
			<td class='login_label'><%= f.label :login %></td>
	  	<td><%= f.text_field :login %></td>
		</tr>
		<tr>
	  	<td class='login_label'><%= f.label :password %></td>
	  	<td><%= f.password_field :password %></td>
	  </tr>
  </table>
	<br/>
	<div class="under_form"><%= f.label "Remember Me" %> <%= f.check_box :remember_me %></div><br/>
  <div class="submit"><%= f.submit "Login" %></div>
<% end %>