<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :all %>
</head>
<body>

<ul id="menu">
  <% if current_user %>
	  <li id=<%= is_dashboard? %>><%= link_to 'Dashboard', root_path %></li>
	  <li id=<%= is_hosts? %>><%= link_to 'Hosts', hosts_path %></li>
	  <li><a href="/tools/csstabs/3">Jobs</a></li>
	  <li id=<%= is_account? %>><%= link_to 'My Account', account_path %></li>
		<li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
	<% else %>
		<li id=<%= is_login_form? %>><%= link_to "Log In", new_user_session_path %></li>
		<li id=<%= is_register_form? %>><%= link_to "Register", new_account_path %></li>
	<% end %>
	<li><%= yield :sub_menu %></li>
</ul>


<div id="contents">
	
	<p style="color: green"><%= flash[:notice] %></p>

	<%= yield  %>
</div>
</body>
</html>
